extends layout

include mixins/_bitCard

block content
  .inner
    .card-wrapper.flex-container-row.justify-center.flex-wrap
      .bit.card.shaded.spaced.spaced-top.spaced-lg
        div.card-half
          if user && bit.author.equals(user._id)
            a(href=`/bits/${bit._id}/edit`)
              != h.icon('pencil')
        div.flex-container-row.justify-center
          a(href=`/genre/${bit.genre === 'tragedy' ? 'tragedy' : 'comedy'}`)
            img(src=`/images/icons/${bit.genre === 'tragedy' ? 'tragedy' : 'comedy'}.svg` width="50px" height="50px")
        h1.flex-container-row.justify-center= bit.name
        h2.flex-container-row.justify-center= bit.author.name
        each line, i in h.processNewLines(bit.content)
          p= line
        //- pre= h.dump(bit)
        h3 Stats:
        pre #{bit.content.split(' ').length} words
