extends layout

include mixins/_bitCard

block content
  .inner
    .card-wrapper.flex-container-row.justify-center.flex-wrap
      .bit.card.card-full.shaded.spaced.spaced-top.spaced-lg
        div.flex-container-row.justify-end
          if user && bit.author.equals(user._id)
            a(class="icon flex-container-row justify-center align-items-center" href=`/bits/${bit._id}/edit`)
              != h.icon('pencil')
            div(class="icon delete flex-container-row justify-center align-items-center" data-link=`/bit/delete/${bit._id}`)
              != h.icon('trash-can')
        h1.flex-container-row.justify-center= bit.name
        h2.flex-container-row.justify-center= bit.author.name
        each line, i in h.processNewLines(bit.content)
          p= line
        //- pre= h.dump(bit)
        h3 Stats:
        pre #{bit.content.split(' ').length} words
