extends layout

include mixins/_bitCard
include mixins/_lock

block content
  .inner
    .card-wrapper.flex-container-row.justify-center.flex-wrap
      .bit.card.card-full.shaded.spaced.spaced-top.spaced-lg
        div.flex-container-row.justify-end
          if user && bit.author.equals(user._id)
            a(class="icon flex-container-row justify-center align-items-center" href=`/bits/${bit._id}/edit`)
              != h.icon('pencil')
            +lock(bit.privacy, { hideToggle: true })
          if user && (user.id !== bit.author.id)
            //- pre= h.dump(user)
            - const trustedUserStrings = user.trustedUsers.map(obj => obj.toString())
            - const trustedUserText = trustedUserStrings.includes(bit.author._id.toString()) ? 'Untrust this user' : 'Trust this user'
            a(href=`/user/trust/${bit.author._id}`) #{trustedUserText}
        h1.flex-container-row.justify-center.txt-center= bit.name
        a(href=`/author/${bit.author.slug}`)
          h2.flex-container-row.justify-center= bit.author.name
        each line, i in h.processNewLines(bit.content)
          p= line
        //- pre= h.dump(bit)
    .card.card-full
      div.flex-container-column
        h3 Stats:
        p.small-font Count: #{bit.content.split(' ').length} words
        p.small-font Prompt: #{bit.prompt}
