extends layout

include mixins/_bitCard

block content
  .inner
    .card-wrapper.flex-container-row.justify-center.flex-wrap
      .bit.card.card-full.shaded.spaced.spaced-top.spaced-lg
        div
          if user && bit.author.equals(user._id)
            a(class="icon" href=`/bits/${bit._id}/edit`)
              != h.icon('pencil')
        h1.flex-container-row.justify-center= bit.name
        h2.flex-container-row.justify-center= bit.author.name
        each line, i in h.processNewLines(bit.content)
          p= line
        //- pre= h.dump(bit)
        h3 Stats:
        pre #{bit.content.split(' ').length} words
