include _trustedUser
include _privacy

mixin bitCard(bit = {}, user = {})
  .bit.brick.shaded
    if user && bit.author.id === user.id
      div.flex-container-row-reverse
        +privacy(bit)
    div.flex-container-row.align-items-center.justify-center
      h2.flex-container-row.txt-center
        a( href=`../bit/${bit.slug}`) #{bit.name}
    h3.flex-container-row.justify-center.align-items-center
      a(href=`/author/${bit.author.slug}`) #{bit.author.name}
      +trustedUser(bit, user)
    //- pre= h.dump(bit)
    a(class="unstyled" href=`../bit/${bit.slug}`)
      each line, i in h.processNewLines(bit.content)
        if i < 2
          p= line
        if i === 4
          p.flex-container-row.justify-center.txt-dark-green More...
